build
.build
*.pbxuser
*.mode1v3
*.tm_build_errors
*.dmg
.DS_Store
project.xcworkspace
xcuserdata
# Credits.rtf
# the executable we used to count the occurance of a string in a file
# that can be built by make -C Source/Data/bin/C_Version
# C_count.occ.exe
.idea
.swiftpm
.vscode
__pycache__
