<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.6</string>
	<key>CFBundleSignature</key>
	<string>BPMF</string>
	<key>CFBundleVersion</key>
	<string>1399</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>org.openvanilla.inputmethod.McBopomofo.Bopomofo</key>
			<dict>
				<key>TISDoubleSpaceSubstitution</key>
				<string>。</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>Bopomofo.tiff</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
					<string>Han</string>
				</array>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>Bopomofo.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>Bopomofo.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smTradChinese</string>
			</dict>
			<key>org.openvanilla.inputmethod.McBopomofo.PlainBopomofo</key>
			<dict>
				<key>TISDoubleSpaceSubstitution</key>
				<string>。</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>PlainBopomofo.tiff</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
					<string>Han</string>
				</array>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>PlainBopomofo.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>PlainBopomofo.tiff</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smTradChinese</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>org.openvanilla.inputmethod.McBopomofo.Bopomofo</string>
			<string>org.openvanilla.inputmethod.McBopomofo.PlainBopomofo</string>
		</array>
	</dict>
	<key>InputMethodConnectionName</key>
	<string>McBopomofo_1_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>McBopomofoInputMethodController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>McBopomofoInputMethodController</string>
	<key>InputMethodServerPreferencesWindowControllerClass</key>
	<string>PreferencesWindowController</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2011-2023 Mengjuei Hsieh et al.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>TICapsLockLanguageSwitchCapable</key>
	<true/>
	<key>TISInputSourceID</key>
	<string>org.openvanilla.inputmethod.McBopomofo</string>
	<key>TISIntendedLanguage</key>
	<string>zh-Hant</string>
	<key>TISParticipatesInTouchBar</key>
	<false/>
	<key>UpdateInfoEndpoint</key>
	<string>https://mcbopomofo.openvanilla.org/updates/Info.plist</string>
	<key>UpdateInfoSite</key>
	<string>https://mcbopomofo.openvanilla.org/</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hant</string>
		<string>Hans</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>Bopomofo.tiff</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMessage</key>
			<string>addUserPhrase</string>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Add to McBopomofo User Phrases</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSRequiredContext</key>
			<dict/>
		</dict>
	</array>
</dict>
</plist>
